AI UGC Video Generation Pipeline (v3 - Optimized) (1).json
{
  "name": "AI UGC Video Generation Pipeline (v3 - Optimized)",
  "nodes": [
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "You are a product analyst for UGC video creation. You are analyzing an uploaded product image. Your analysis will be used to generate an AI video where this EXACT product must physically appear and be used by the person on camera.\n\nAnalyze the product image in detail:\n1) PRODUCT IDENTITY: What the product is, its exact name/brand if visible on packaging\n2) VISUAL DESCRIPTION FOR VIDEO RECREATION: Describe the product's appearance in extreme detail — exact colors, shape, size relative to a human hand, packaging design, label text, cap/lid style, texture, material — so that the video generation model can accurately recreate this specific product in the video. This is critical.\n3) HOW THE PRODUCT SHOULD BE HELD/USED ON CAMERA: Describe exactly how a person would naturally hold, open, apply, pour, squeeze, spray, or demonstrate this product in a selfie-style video while looking at the camera\n4) Key selling points based on what you can see\n5) Suggested UGC selfie video scenarios where the person films themselves using this product\n\nBe extremely specific about the product's visual appearance. The video MUST show this exact product being used — not a generic version of it.",
              "role": "system"
            },
            {
              "content": "=[{\"type\": \"image_url\", \"image_url\": {\"url\": \"{{ $json.imageUrl }}\"}}]"
            }
          ]
        },
        "options": {
          "maxTokens": 2000,
          "temperature": 0.4
        }
      },
      "id": "a6fc029c-f23a-46cc-8897-0e6becea486f",
      "name": "Analyze Product (GPT-4o Vision)",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -4400,
        544
      ],
      "credentials": {
        "openAiApi": {
          "id": "U92yVqYA3YldZsEd",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "productAnalysis",
              "name": "productAnalysis",
              "value": "={{ $json.message.content }}",
              "type": "string"
            },
            {
              "id": "videoLength",
              "name": "videoLength",
              "value": "={{ $('Parse Webhook Inputs').item.json.videoLength }}",
              "type": "string"
            },
            {
              "id": "videoDurationSeconds",
              "name": "videoDurationSeconds",
              "value": "={{ $('Parse Webhook Inputs').item.json.videoDurationSeconds }}",
              "type": "number"
            },
            {
              "id": "language",
              "name": "language",
              "value": "={{ $('Parse Webhook Inputs').item.json.language }}",
              "type": "string"
            },
            {
              "id": "creativePrompt",
              "name": "creativePrompt",
              "value": "={{ $('Parse Webhook Inputs').item.json.creativePrompt }}",
              "type": "string"
            },
            {
              "id": "brandName",
              "name": "brandName",
              "value": "={{ $('Parse Webhook Inputs').item.json.brandName }}",
              "type": "string"
            },
            {
              "id": "targetAudience",
              "name": "targetAudience",
              "value": "={{ $('Parse Webhook Inputs').item.json.targetAudience }}",
              "type": "string"
            },
            {
              "id": "imageFileId",
              "name": "imageFileId",
              "value": "",
              "type": "string"
            },
            {
              "id": "imageWebViewLink",
              "name": "imageWebViewLink",
              "value": "={{ $('Parse Webhook Inputs').item.json.imageUrl || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "7e97e1f4-d8f8-4a33-91db-b305e8ff7a19",
      "name": "Store Analysis",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4144,
        544
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "You are an expert UGC video prompt engineer. Create a detailed video generation prompt for OpenAI Sora 2 based on the product analysis and customer preferences below.\n\n=== MANDATORY RULES — EVERY RULE MUST BE FOLLOWED ===\n\n1. SELFIE FORMAT (NON-NEGOTIABLE): The video MUST be filmed in selfie format — the person is holding the phone themselves at arm's length or slightly above eye level, recording themselves with the front-facing camera. The camera perspective is ALWAYS from the person's own outstretched hand. There is mild wide-angle lens distortion typical of a front-facing phone camera. The person looks directly into the camera lens. This is NOT filmed by someone else — it is self-recorded. Every single frame must maintain this selfie POV.\n\n2. PRODUCT MUST BE VISIBLE AND USED (NON-NEGOTIABLE): The specific product described in the product analysis MUST physically appear in the video. The person must hold it up to the camera, use it, demonstrate it, or interact with it. Describe the product's exact visual appearance (colors, shape, packaging, labels) as detailed in the analysis so Sora recreates THIS specific product — not a generic substitute. The product should be shown prominently in the person's other hand (the hand not holding the phone).\n\n3. CREATIVE DIRECTION (MANDATORY): The customer provided a specific creative direction — you MUST incorporate it into the prompt. Do not ignore or override it. Build the entire scene concept around it.\n\n4. LANGUAGE (MANDATORY): The person in the video MUST speak in {{ $json.language }}. All spoken words, reactions, and dialogue must be in {{ $json.language }}. Specify this explicitly in the prompt.\n\n=== STYLE GUIDELINES ===\n- Scene: Natural/ambient lighting, real-world setting (not a studio), casual environment\n- Camera: Front-facing selfie angle, slightly above eye level, handheld shake, phone-quality look\n- Person: Direct eye contact with lens, natural spoken delivery, authentic reactions, casual clothing\n- Feel: Native to TikTok/Instagram Reels — raw, unpolished, self-recorded, genuine\n- Pacing: Appropriate for a {{ $json.videoLength }} video\n- Reference the person as 'the person shown in the reference image'\n\n=== TECHNICAL NOTES ===\nSora 2 generates a 12-second initial clip followed by 8-second extensions. Structure the prompt so the first 12 seconds establish the selfie setup and product introduction, with natural continuation points for seamless 8-second extensions.\n\nOutput ONLY the video generation prompt. Nothing else.",
              "role": "system"
            },
            {
              "content": "=PRODUCT ANALYSIS:\n{{ $json.productAnalysis }}\n\nCUSTOMER PREFERENCES:\n- Video Length: {{ $json.videoLength }}\n- Language: {{ $json.language }}\n- Brand Name: {{ $json.brandName }}\n- Target Audience: {{ $json.targetAudience }}\n- Creative Direction: {{ $json.creativePrompt }}"
            }
          ]
        },
        "options": {
          "maxTokens": 1500,
          "temperature": 0.7
        }
      },
      "id": "f468adf6-c357-4568-9f45-a42b68d78c1d",
      "name": "Generate Video Prompt (GPT-4o)",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -3904,
        448
      ],
      "credentials": {
        "openAiApi": {
          "id": "U92yVqYA3YldZsEd",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "videoPrompt",
              "name": "videoPrompt",
              "value": "={{ $json.message.content }}",
              "type": "string"
            },
            {
              "id": "productAnalysis",
              "name": "productAnalysis",
              "value": "={{ $('Store Analysis').item.json.productAnalysis }}",
              "type": "string"
            },
            {
              "id": "videoDurationSeconds",
              "name": "videoDurationSeconds",
              "value": "={{ $('Store Analysis').item.json.videoDurationSeconds }}",
              "type": "number"
            },
            {
              "id": "videoLength",
              "name": "videoLength",
              "value": "={{ $('Store Analysis').item.json.videoLength }}",
              "type": "string"
            },
            {
              "id": "language",
              "name": "language",
              "value": "={{ $('Store Analysis').item.json.language }}",
              "type": "string"
            },
            {
              "id": "imageFileId",
              "name": "imageFileId",
              "value": "={{ $('Store Analysis').item.json.imageFileId }}",
              "type": "string"
            },
            {
              "id": "imageWebViewLink",
              "name": "imageWebViewLink",
              "value": "={{ $('Store Analysis').item.json.imageWebViewLink }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "38d07801-abcd-4464-8399-9d960675a45b",
      "name": "Store Video Prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3648,
        448
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/videos",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"sora-2\",\n  \"prompt\": \"SELFIE VIDEO — front-facing phone camera held by the person at arm's length, slightly above eye level. The person shown in the reference image is recording themselves in selfie mode. They are looking directly into the camera lens, speaking in {{ $('Merge Avatar + Video Data').item.json.language }}, and holding/using the product in their other hand. The product must be clearly visible in frame. Handheld camera shake, natural lighting, real-world setting. {{ JSON.stringify($('Merge Avatar + Video Data').item.json.videoPrompt).slice(1, -1) }}\",\n  \"input_reference\": {\n    \"image_url\": \"{{ $('Merge Avatar + Video Data').item.json.avatarImageUrl }}\"\n  },\n  \"size\": \"720x1280\",\n  \"seconds\": \"12\"\n}\n",
        "options": {
          "timeout": 120000
        }
      },
      "id": "b6758fe1-7e16-40e8-9f40-93feee60b414",
      "name": "Generate Initial Clip (Sora 2)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2352,
        544
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "b2Lxtj6QSjmP2pPh",
          "name": "OpenAI API Key"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "generationId",
              "name": "generationId",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "videoPrompt",
              "name": "videoPrompt",
              "value": "={{ $('Merge Avatar + Video Data').item.json.videoPrompt }}",
              "type": "string"
            },
            {
              "id": "productAnalysis",
              "name": "productAnalysis",
              "value": "={{ $('Merge Avatar + Video Data').item.json.productAnalysis }}",
              "type": "string"
            },
            {
              "id": "videoDurationSeconds",
              "name": "videoDurationSeconds",
              "value": "={{ $('Merge Avatar + Video Data').item.json.videoDurationSeconds }}",
              "type": "number"
            },
            {
              "id": "currentDuration",
              "name": "currentDuration",
              "value": 0,
              "type": "number"
            },
            {
              "id": "extensionCount",
              "name": "extensionCount",
              "value": 0,
              "type": "number"
            },
            {
              "id": "latestVideoId",
              "name": "latestVideoId",
              "value": "",
              "type": "string"
            },
            {
              "id": "imageWebViewLink",
              "name": "imageWebViewLink",
              "value": "={{ $('Merge Avatar + Video Data').item.json.imageWebViewLink }}",
              "type": "string"
            },
            {
              "id": "videoLength",
              "name": "videoLength",
              "value": "={{ $('Merge Avatar + Video Data').item.json.videoLength }}",
              "type": "string"
            },
            {
              "id": "language",
              "name": "language",
              "value": "={{ $('Merge Avatar + Video Data').item.json.language }}",
              "type": "string"
            },
            {
              "id": "pollCount",
              "name": "pollCount",
              "value": 0,
              "type": "number"
            },
            {
              "id": "avatarImageUrl",
              "name": "avatarImageUrl",
              "value": "={{ $('Merge Avatar + Video Data').item.json.avatarImageUrl }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d806c10a-7202-418a-b7ed-00c96cef1f5f",
      "name": "Initialize Generation State",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2096,
        544
      ]
    },
    {
      "parameters": {
        "amount": 15
      },
      "id": "0dd785b8-c370-461b-ac65-893cbda67758",
      "name": "Wait 15s Before Poll",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1856,
        544
      ],
      "webhookId": "7f4991cf-ab44-42e6-a8da-a6853d91f4c5"
    },
    {
      "parameters": {
        "url": "=https://api.openai.com/v1/videos/{{ $('Resolve Current State').item.json.generationId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "options": {
          "timeout": 30000
        }
      },
      "id": "96d03f18-fc6d-445a-9415-03da4b8aac3e",
      "name": "Poll Sora Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1536,
        544
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "b2Lxtj6QSjmP2pPh",
          "name": "OpenAI API Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "done-check",
              "leftValue": "={{ $json.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8b6aa031-88b1-42d8-937a-be85ad004442",
      "name": "Operation Done?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1200,
        544
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "timeout-check",
              "leftValue": "={{ $('Resolve Current State').item.json.pollCount }}",
              "rightValue": 15,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "fccfee59-7bea-4c00-9621-afa042ffb82c",
      "name": "Timeout Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -960,
        752
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "generationId",
              "name": "generationId",
              "value": "={{ $('Resolve Current State').item.json.generationId }}",
              "type": "string"
            },
            {
              "id": "videoPrompt",
              "name": "videoPrompt",
              "value": "={{ $('Resolve Current State').item.json.videoPrompt }}",
              "type": "string"
            },
            {
              "id": "productAnalysis",
              "name": "productAnalysis",
              "value": "={{ $('Resolve Current State').item.json.productAnalysis }}",
              "type": "string"
            },
            {
              "id": "videoDurationSeconds",
              "name": "videoDurationSeconds",
              "value": "={{ $('Resolve Current State').item.json.videoDurationSeconds }}",
              "type": "number"
            },
            {
              "id": "currentDuration",
              "name": "currentDuration",
              "value": "={{ $('Resolve Current State').item.json.currentDuration }}",
              "type": "number"
            },
            {
              "id": "extensionCount",
              "name": "extensionCount",
              "value": "={{ $('Resolve Current State').item.json.extensionCount }}",
              "type": "number"
            },
            {
              "id": "latestVideoId",
              "name": "latestVideoId",
              "value": "={{ $('Resolve Current State').item.json.latestVideoId }}",
              "type": "string"
            },
            {
              "id": "imageWebViewLink",
              "name": "imageWebViewLink",
              "value": "={{ $('Resolve Current State').item.json.imageWebViewLink }}",
              "type": "string"
            },
            {
              "id": "videoLength",
              "name": "videoLength",
              "value": "={{ $('Resolve Current State').item.json.videoLength }}",
              "type": "string"
            },
            {
              "id": "language",
              "name": "language",
              "value": "={{ $('Resolve Current State').item.json.language }}",
              "type": "string"
            },
            {
              "id": "avatarImageUrl",
              "name": "avatarImageUrl",
              "value": "={{ $('Resolve Current State').item.json.avatarImageUrl }}",
              "type": "string"
            },
            {
              "id": "pollCount",
              "name": "pollCount",
              "value": "={{ $('Resolve Current State').item.json.pollCount + 1 }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "235bb115-b477-44d9-a382-38815b359fad",
      "name": "Increment Poll Counter",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -720,
        640
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "latestVideoId",
              "name": "latestVideoId",
              "value": "={{ $('Poll Sora Status').item.json.id }}",
              "type": "string"
            },
            {
              "id": "currentDuration",
              "name": "currentDuration",
              "value": "={{ $('Resolve Current State').item.json.currentDuration + ($('Resolve Current State').item.json.extensionCount === 0 ? 12 : 8) }}",
              "type": "number"
            },
            {
              "id": "videoDurationSeconds",
              "name": "videoDurationSeconds",
              "value": "={{ $('Resolve Current State').item.json.videoDurationSeconds }}",
              "type": "number"
            },
            {
              "id": "videoPrompt",
              "name": "videoPrompt",
              "value": "={{ $('Resolve Current State').item.json.videoPrompt }}",
              "type": "string"
            },
            {
              "id": "productAnalysis",
              "name": "productAnalysis",
              "value": "={{ $('Resolve Current State').item.json.productAnalysis }}",
              "type": "string"
            },
            {
              "id": "extensionCount",
              "name": "extensionCount",
              "value": "={{ $('Resolve Current State').item.json.extensionCount }}",
              "type": "number"
            },
            {
              "id": "imageWebViewLink",
              "name": "imageWebViewLink",
              "value": "={{ $('Resolve Current State').item.json.imageWebViewLink }}",
              "type": "string"
            },
            {
              "id": "videoLength",
              "name": "videoLength",
              "value": "={{ $('Resolve Current State').item.json.videoLength }}",
              "type": "string"
            },
            {
              "id": "language",
              "name": "language",
              "value": "={{ $('Resolve Current State').item.json.language }}",
              "type": "string"
            },
            {
              "id": "avatarImageUrl",
              "name": "avatarImageUrl",
              "value": "={{ $('Resolve Current State').item.json.avatarImageUrl }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "02a47ecd-5850-4f00-b8b2-e5ae89216c62",
      "name": "Store Clip Result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -960,
        352
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "duration-check",
              "leftValue": "={{ $json.currentDuration }}",
              "rightValue": "={{ $json.videoDurationSeconds }}",
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "2de7b3d1-d0b2-4421-b5d8-fbb21898a2d2",
      "name": "Target Duration Reached?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -720,
        352
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/videos/extensions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"video\": {\n    \"id\": \"{{ $json.latestVideoId }}\"\n  },\n  \"prompt\": \"Continue this selfie video seamlessly. MAINTAIN: front-facing selfie camera angle held by the person, direct eye contact with the lens, the product clearly visible and being used/demonstrated in the other hand, person speaking in {{ $json.language }}. The camera stays in selfie POV at all times — never switch to third person. {{ JSON.stringify($json.videoPrompt).slice(1, -1) }}\",\n  \"seconds\": \"8\"\n}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "9a639ad9-0f30-4ef5-9648-4cc70339f1db",
      "name": "Extend Video (Sora 2)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -480,
        448
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "b2Lxtj6QSjmP2pPh",
          "name": "OpenAI API Key"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "generationId",
              "name": "generationId",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "videoPrompt",
              "name": "videoPrompt",
              "value": "={{ $('Store Clip Result').item.json.videoPrompt }}",
              "type": "string"
            },
            {
              "id": "productAnalysis",
              "name": "productAnalysis",
              "value": "={{ $('Store Clip Result').item.json.productAnalysis }}",
              "type": "string"
            },
            {
              "id": "videoDurationSeconds",
              "name": "videoDurationSeconds",
              "value": "={{ $('Store Clip Result').item.json.videoDurationSeconds }}",
              "type": "number"
            },
            {
              "id": "currentDuration",
              "name": "currentDuration",
              "value": "={{ $('Store Clip Result').item.json.currentDuration }}",
              "type": "number"
            },
            {
              "id": "extensionCount",
              "name": "extensionCount",
              "value": "={{ $('Store Clip Result').item.json.extensionCount + 1 }}",
              "type": "number"
            },
            {
              "id": "latestVideoId",
              "name": "latestVideoId",
              "value": "={{ $('Store Clip Result').item.json.latestVideoId }}",
              "type": "string"
            },
            {
              "id": "imageWebViewLink",
              "name": "imageWebViewLink",
              "value": "={{ $('Store Clip Result').item.json.imageWebViewLink }}",
              "type": "string"
            },
            {
              "id": "videoLength",
              "name": "videoLength",
              "value": "={{ $('Store Clip Result').item.json.videoLength }}",
              "type": "string"
            },
            {
              "id": "language",
              "name": "language",
              "value": "={{ $('Store Clip Result').item.json.language }}",
              "type": "string"
            },
            {
              "id": "avatarImageUrl",
              "name": "avatarImageUrl",
              "value": "={{ $('Store Clip Result').item.json.avatarImageUrl }}",
              "type": "string"
            },
            {
              "id": "pollCount",
              "name": "pollCount",
              "value": 0,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "406de576-5559-496e-8a61-c3c3e3287d78",
      "name": "Store Extension Operation",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -240,
        448
      ]
    },
    {
      "parameters": {
        "url": "=https://api.openai.com/v1/videos/{{ $('Store Clip Result').item.json.latestVideoId }}/content",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          },
          "timeout": 120000
        }
      },
      "id": "497724e1-b794-4a6d-9cf6-8c6f544581f1",
      "name": "Download Final Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -480,
        192
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "b2Lxtj6QSjmP2pPh",
          "name": "OpenAI API Key"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $('Parse Webhook Inputs').item.json.storageUploadUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "video/mp4"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {
          "timeout": 120000
        }
      },
      "id": "bba53527-51b6-4a04-a01f-5b8e1d64107e",
      "name": "Upload Video to Supabase Storage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -240,
        192
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "content": "## 2. AI ANALYSIS + PROMPT\nGPT-4o Vision analyzes product → GPT-4o generates optimized Sora 2 video prompt.",
        "height": 100,
        "width": 560,
        "color": 3
      },
      "id": "23af5791-f4db-4a9d-ad31-6ecab9e112df",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -4448,
        432
      ]
    },
    {
      "parameters": {
        "content": "## 3. INITIAL VIDEO (Sora 2)\nGenerates 12-second clip via OpenAI Sora 2.\nAvatar image passed as image_url reference.\nPolls every 15s until done, failed, or timeout (15 polls max).",
        "height": 100,
        "width": 320,
        "color": 2
      },
      "id": "151638b4-7a70-4334-ad94-32ee1c9c105b",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2384,
        432
      ]
    },
    {
      "parameters": {
        "content": "## 4. EXTENSION LOOP (for 30s videos)\nSora 2 generates clips: 12s initial + 8s extensions.\n12s = 1 clip, 30s = 3 clips (12+8+8=28s).\nEach extension uses previous clip as input for seamless continuation.\nPoll timeout: 15 polls (~7.5 min) per generation.",
        "height": 120,
        "width": 500,
        "color": 2
      },
      "id": "06138346-e872-4df7-8e2c-68730f7eb894",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1136,
        224
      ]
    },
    {
      "parameters": {
        "content": "## 5. DELIVERY\nDownloads final video from Sora 2 → uploads to Supabase Storage via signed URL → sends callback to Supabase → shows result page.",
        "height": 100,
        "width": 300,
        "color": 5
      },
      "id": "bedcfaac-57ba-4d5a-ac63-face5868d103",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -640,
        80
      ]
    },
    {
      "parameters": {
        "content": "## ERROR HANDLING\nFailures trigger callbacks to Supabase:\n- Callback: Failed (generation error)\n- Callback: Timeout (poll limit reached)",
        "height": 80,
        "width": 340
      },
      "id": "2f73ca89-b29e-4d81-8868-68eb5e5bfea3",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -5040,
        1168
      ]
    },
    {
      "parameters": {
        "content": "## SETUP\n\n**Credentials needed:**\n1. Google Drive OAuth2\n2. OpenAI API (for GPT-4o analysis/prompting nodes)\n3. OpenAI API Key (HTTP Header Auth for Sora 2)\n4. Gemini API Key (HTTP Query Auth)\n\n**v3 Improvements:**\n- Clip strategy: 12s initial + 8s extensions (cheaper/faster)\n- Removed 60s option (not needed for UGC)\n- Fixed polling state bug (direct input passthrough)\n- Lowered poll timeout from 40 to 15 (~7.5 min)\n- Avatar image passed to Sora API via image_url\n- Drive files made public for reliable Vision API access\n- Failed generation detection (early exit)\n- Callback nodes have continueOnFail\n- Retry on fail for Sora/Poll HTTP requests",
        "height": 360,
        "width": 400,
        "color": 7
      },
      "id": "1df1896c-511d-4d88-b398-1969f4a05964",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -5744,
        480
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "You are a casting director for UGC video content. Generate an image prompt for a photorealistic portrait of a UGC creator who will appear in a selfie-style product review video.\n\n=== MANDATORY REQUIREMENTS ===\n\n1. SELFIE POSE: The person MUST be photographed as if they are taking a selfie — one arm extended toward the camera (this arm may be partially visible or cropped at the edge). The camera angle is from their own hand, slightly above eye level. They are looking directly into the lens with a natural, friendly expression.\n\n2. PRODUCT IN HAND: The person MUST be holding the specific product described in the product analysis in their OTHER hand (the hand not holding the phone). The product should be clearly visible — held up near their face/chest area so it's prominent in the selfie frame. Describe the product's exact visual appearance from the analysis.\n\n3. AUTHENTIC LOOK: The person should look like a real social media creator, NOT a professional model. Include: age range appropriate for the target audience, natural hair, casual everyday clothing, minimal or natural makeup. Diverse representation.\n\n4. SETTING: Natural real-world background (bathroom, kitchen, bedroom, outdoors, car, etc.) — not a studio. Ambient lighting.\n\n5. If a creative direction is provided, incorporate it into the person's setting and style.\n\nOutput ONLY the image generation prompt, nothing else.",
              "role": "system"
            },
            {
              "content": "=PRODUCT ANALYSIS:\n{{ $json.productAnalysis }}\n\nTARGET AUDIENCE: {{ $json.targetAudience }}\nCREATIVE DIRECTION: {{ $json.creativePrompt }}"
            }
          ]
        },
        "options": {
          "maxTokens": 800,
          "temperature": 0.8
        }
      },
      "id": "8c233e33-9d35-4814-944f-5b731e2a16ba",
      "name": "Generate Avatar Prompt (GPT-4o)",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -3904,
        800
      ],
      "credentials": {
        "openAiApi": {
          "id": "U92yVqYA3YldZsEd",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-3.1-flash-image-preview:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [{\n    \"parts\": [\n      {\"inline_data\": {\"mime_type\": \"image/jpeg\", \"data\": \"{{ $json.imageBase64 }}\"}},\n      {\"text\": \"The image above is the EXACT product that must appear in this photo. Generate a photorealistic portrait photo, exactly 720x1280 pixels, 9:16 aspect ratio. {{ JSON.stringify($('Generate Avatar Prompt (GPT-4o)').item.json.message.content).slice(1, -1) }} CRITICAL: The person MUST be holding this EXACT product from the reference image above — replicate its colors, packaging, label text, and design with complete accuracy.\"}\n    ]\n  }],\n  \"generationConfig\": {\n    \"responseModalities\": [\"TEXT\", \"IMAGE\"],\n    \"imageConfig\": {\n      \"aspectRatio\": \"9:16\"\n    }\n  }\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "280fca12-0c04-4162-9f73-6cd8b5293b4b",
      "name": "Generate Avatar Image (Gemini)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3648,
        800
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpQueryAuth": {
          "id": "lxxCCbd9eXQmM3SE",
          "name": "Gemini API Key"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $('Parse Webhook Inputs').item.json.imageUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "f7e8d9c0-b1a2-4345-8678-9abcdef01234",
      "name": "Fetch Product Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3776,
        800
      ]
    },
    {
      "parameters": {
        "setAllData": false,
        "destinationKey": "imageBase64",
        "options": {
          "encoding": "base64"
        },
        "mode": "binaryToJson",
        "sourceKey": "data",
        "convertAllData": false
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Convert Image to Base64",
      "type": "n8n-nodes-base.moveBinaryData",
      "typeVersion": 1,
      "position": [
        -3712,
        800
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "avatarImageUrl",
              "name": "avatarImageUrl",
              "value": "={{ 'https://images.weserv.nl/?url=drive.google.com/uc%3Fexport%3Dview%26id%3D' + $('Upload Avatar to Google Drive').item.json.id + '&w=720&h=1280&fit=cover&output=png' }}",
              "type": "string"
            },
            {
              "id": "avatarPrompt",
              "name": "avatarPrompt",
              "value": "={{ $('Generate Avatar Prompt (GPT-4o)').item.json.message.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a82434cb-a2b3-41b5-b950-51529647aa19",
      "name": "Store Avatar Result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2896,
        752
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "8735a1a7-bf37-47cb-9d76-8cbbd3a36b64",
      "name": "Merge Avatar + Video Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -2544,
        544
      ]
    },
    {
      "parameters": {
        "content": "## 2b. AVATAR GENERATION\nGemini generates a photorealistic UGC creator image.\nImage uploaded to Google Drive → made public →\nURL passed to Sora 2 as image_url reference for the video.",
        "height": 120,
        "width": 460,
        "color": 6
      },
      "id": "f1c7771a-657a-4101-8548-69a07514da1c",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3936,
        672
      ]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst parts = response.candidates[0].content.parts;\nconst imagePart = parts.find(p => p.inlineData);\nif (!imagePart) throw new Error('No image data in Gemini response');\nconst b64 = imagePart.inlineData.data;\nconst mimeType = imagePart.inlineData.mimeType || 'image/png';\nreturn [{\n  json: { mimeType },\n  binary: {\n    data: {\n      data: b64,\n      mimeType: mimeType,\n      fileName: 'avatar.png',\n      fileExtension: 'png'\n    }\n  }\n}];"
      },
      "id": "d3773636-d9c8-4353-8cad-9ad267e78007",
      "name": "Parse Gemini Image Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3408,
        800
      ]
    },
    {
      "parameters": {
        "name": "={{ 'avatar_' + $now.format('yyyyMMdd_HHmmss') }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1EP6mXNbhoPTG7reKBWJWYWpAl0vn-mM5",
          "mode": "id"
        },
        "options": {}
      },
      "id": "a9fb52a8-45f1-4b76-a129-0a0d4eae1379",
      "name": "Upload Avatar to Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -3152,
        800
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "xYi7v444711k8eix",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ugc-video-webhook",
        "options": {}
      },
      "id": "eb6d18e4-23dd-4a87-b3e9-5fbc09cbed65",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -5152,
        800
      ],
      "webhookId": "ugc-video-webhook-id"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "jobId",
              "name": "jobId",
              "value": "={{ $json.body.jobId }}",
              "type": "string"
            },
            {
              "id": "callbackUrl",
              "name": "callbackUrl",
              "value": "={{ $json.body.callbackUrl }}",
              "type": "string"
            },
            {
              "id": "videoLength",
              "name": "videoLength",
              "value": "={{ $json.body.videoLength }}",
              "type": "string"
            },
            {
              "id": "videoDurationSeconds",
              "name": "videoDurationSeconds",
              "value": "={{ {'12 seconds': 12, '30 seconds': 28}[$json.body.videoLength] || 12 }}",
              "type": "number"
            },
            {
              "id": "language",
              "name": "language",
              "value": "={{ $json.body.language }}",
              "type": "string"
            },
            {
              "id": "creativePrompt",
              "name": "creativePrompt",
              "value": "={{ $json.body.creativePrompt || 'No specific creative direction provided — use best judgment for an engaging UGC video.' }}",
              "type": "string"
            },
            {
              "id": "brandName",
              "name": "brandName",
              "value": "={{ $json.body.brandName || 'Not specified' }}",
              "type": "string"
            },
            {
              "id": "targetAudience",
              "name": "targetAudience",
              "value": "={{ $json.body.targetAudience || 'General consumer audience' }}",
              "type": "string"
            },
            {
              "id": "imageUrl",
              "name": "imageUrl",
              "value": "={{ $json.body.productImageUrl }}",
              "type": "string"
            },
            {
              "id": "storageUploadUrl",
              "name": "storageUploadUrl",
              "value": "={{ $json.body.storageUploadUrl }}",
              "type": "string"
            },
            {
              "id": "videoPublicUrl",
              "name": "videoPublicUrl",
              "value": "={{ $json.body.videoPublicUrl }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "84de096d-188c-45cb-8747-57dc4507ba75",
      "name": "Parse Webhook Inputs",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4656,
        800
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Parse Webhook Inputs').item.json.callbackUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"jobId\": \"{{ $('Parse Webhook Inputs').item.json.jobId }}\",\n  \"status\": \"completed\",\n  \"videoUrl\": \"{{ $('Parse Webhook Inputs').item.json.videoPublicUrl }}\"\n}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "1bd81381-f90a-44d8-8c9a-e627c92373b4",
      "name": "Callback: Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Parse Webhook Inputs').item.json.callbackUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"jobId\": \"{{ $('Parse Webhook Inputs').item.json.jobId }}\",\n  \"status\": \"failed\",\n  \"error\": \"Video generation timed out after polling.\"\n}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "da7be49b-bc4c-45d0-b55b-22464efb35ed",
      "name": "Callback: Timeout",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -960,
        960
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://www.googleapis.com/drive/v3/files/{{ $json.id }}/permissions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"role\": \"reader\", \"type\": \"anyone\"}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "2f14f960-264d-4880-9ab1-c988250445de",
      "name": "Make Avatar Public",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3024,
        800
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "xYi7v444711k8eix",
          "name": "Google Drive account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Use the direct input from the upstream node.\n// Data flows here from: Initialize Generation State, Increment Poll Counter, or Store Extension Operation.\n// All of them pass the full state object, so we just forward it.\nconst input = $input.first().json;\nreturn [{ json: input }];\n"
      },
      "id": "4903c1d7-3c4c-44c0-9083-c12708d4337f",
      "name": "Resolve Current State",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1696,
        544
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "failed-check",
              "leftValue": "={{ $json.status }}",
              "rightValue": "failed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9fc05773-6dad-4400-9dbb-ad745132bd61",
      "name": "Generation Failed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1376,
        544
      ]
    },
    {
      "parameters": {
        "operation": "resize",
        "width": 720,
        "height": 1280,
        "options": {}
      },
      "id": "7a66ed2e-e5fa-42cf-9b74-57a010a8e918",
      "name": "Resize Avatar (720x1280)",
      "type": "n8n-nodes-base.editImage",
      "typeVersion": 1,
      "position": [
        -3280,
        992
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Parse Webhook Inputs').item.json.callbackUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"jobId\": \"{{ $('Parse Webhook Inputs').item.json.jobId }}\",\n  \"status\": \"failed\",\n  \"error\": \"Video generation failed: {{ $('Poll Sora Status').item.json.status }}\"\n}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "6b1c547b-139e-4211-b97c-9dfdcc527c36",
      "name": "Callback: Failed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1376,
        960
      ],
      "continueOnFail": true
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Parse Webhook Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Product (GPT-4o Vision)": {
      "main": [
        [
          {
            "node": "Store Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Analysis": {
      "main": [
        [
          {
            "node": "Generate Video Prompt (GPT-4o)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate Avatar Prompt (GPT-4o)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Video Prompt (GPT-4o)": {
      "main": [
        [
          {
            "node": "Store Video Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Video Prompt": {
      "main": [
        [
          {
            "node": "Merge Avatar + Video Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Avatar Prompt (GPT-4o)": {
      "main": [
        [
          {
            "node": "Fetch Product Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Product Image": {
      "main": [
        [
          {
            "node": "Convert Image to Base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Image to Base64": {
      "main": [
        [
          {
            "node": "Generate Avatar Image (Gemini)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Avatar Image (Gemini)": {
      "main": [
        [
          {
            "node": "Parse Gemini Image Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Avatar to Google Drive": {
      "main": [
        [
          {
            "node": "Make Avatar Public",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Make Avatar Public": {
      "main": [
        [
          {
            "node": "Store Avatar Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Avatar Result": {
      "main": [
        [
          {
            "node": "Merge Avatar + Video Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Avatar + Video Data": {
      "main": [
        [
          {
            "node": "Generate Initial Clip (Sora 2)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Initial Clip (Sora 2)": {
      "main": [
        [
          {
            "node": "Initialize Generation State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Current State": {
      "main": [
        [
          {
            "node": "Poll Sora Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Poll Sora Status": {
      "main": [
        [
          {
            "node": "Generation Failed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generation Failed?": {
      "main": [
        [
          {
            "node": "Callback: Failed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Operation Done?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Operation Done?": {
      "main": [
        [
          {
            "node": "Store Clip Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Timeout Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Timeout Check": {
      "main": [
        [
          {
            "node": "Increment Poll Counter",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Callback: Timeout",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Increment Poll Counter": {
      "main": [
        [
          {
            "node": "Wait 15s Before Poll",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Clip Result": {
      "main": [
        [
          {
            "node": "Target Duration Reached?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Target Duration Reached?": {
      "main": [
        [
          {
            "node": "Download Final Video",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extend Video (Sora 2)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extend Video (Sora 2)": {
      "main": [
        [
          {
            "node": "Store Extension Operation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Extension Operation": {
      "main": [
        [
          {
            "node": "Wait 15s Before Poll",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Final Video": {
      "main": [
        [
          {
            "node": "Upload Video to Supabase Storage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Video to Supabase Storage": {
      "main": [
        [
          {
            "node": "Callback: Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resize Avatar (720x1280)": {
      "main": [
        [
          {
            "node": "Upload Avatar to Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 15s Before Poll": {
      "main": [
        [
          {
            "node": "Resolve Current State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Webhook Inputs": {
      "main": [
        [
          {
            "node": "Analyze Product (GPT-4o Vision)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialize Generation State": {
      "main": [
        [
          {
            "node": "Wait 15s Before Poll",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Gemini Image Response": {
      "main": [
        [
          {
            "node": "Resize Avatar (720x1280)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "3df64d74-3f8a-4684-a072-8e0fe213e589",
  "meta": {
    "instanceId": "ed7fe2783a6309d4e3fd6cfee8ba6654fb7535f0920413f9e977a1bf760033ed"
  },
  "id": "Ris7amWgPRlmiuCM",
  "tags": [
    {
      "updatedAt": "2026-03-15T20:45:13.489Z",
      "createdAt": "2026-03-15T20:45:13.489Z",
      "id": "jqC05l7s9j7uB1Fz",
      "name": "AI"
    },
    {
      "updatedAt": "2026-03-15T20:45:13.466Z",
      "createdAt": "2026-03-15T20:45:13.466Z",
      "id": "msS23dyt5TyTrfiM",
      "name": "Video Generation"
    },
    {
      "updatedAt": "2026-03-15T20:45:13.440Z",
      "createdAt": "2026-03-15T20:45:13.440Z",
      "id": "unNO01RXkbXCKszR",
      "name": "UGC"
    }
  ]
}